 .newPage {
    display: flex;
    justify-content: center;
    align-items: center;
}

.newPage .newBlock {
    text-align: center;
}

.newPage .newBlock hr {
    width: 800px;
    height: 0px;
    border: 1px solid #000000;
    transform: rotate(-0.07deg);
}

.newPage .newBlock .newOneText {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    color: #000000;
    text-align: right;
    padding-right: 250px;

}

 .newPage .newBlock .newTitle {
    font-family: 'Parisienne';
    font-style: normal;
    font-weight: 400;
    font-size: 64px;
    line-height: 87px; 
    color: #000000;
    mix-blend-mode: normal;
    transform: rotate(0.43deg);
    margin-bottom: -10px;
}



.newPage .newBlock .newTwoText {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 28px; 
    color: #000000;
    padding-right: 620px;


}

.newPage .newBlock .newWriteText {
    box-sizing: border-box;
    background: #FCFCFC;
    border: 1px solid #B9B9B9;
    box-shadow: 5px 4px 4px rgba(164, 164, 164, 0.15);
    border-radius: 15px;
    width: 820px;
    height: 226px;
    padding: 10px;
    margin-top: -10px;

}


.newPage .newBlock .newSelectBlock {
    display: flex;
    justify-content: center;
    justify-content: space-between;
    padding: 50px 250px 0px 250px;
}

.newPage .newBlock .newThreeText {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    color: #000000;
    margin-right: 140px;
}

.newPage .newBlock .newSeclect {
    width: 400px;
    height: 58px;
    background: #FCFCFC;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    padding-left: 10px;
    border: none;
}

.newPage .newBlock .newUnlockBlock {
    display: flex;
    justify-content: center; 
    justify-content: space-between;
    padding: 20px 250px 0px 250px; 
}

.newPage .newBlock .newFourTitle {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    color: #000000;
}


.newPage .newBlock .newInput {
    width: 396px;
    height: 55px;
    border: none;
    background: #FCFCFC;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.newPage .newBlock .newBtn {
    width: 800px;
    height: 77px;  
    background: #CE2B2B;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 24px;
    border: none;
    margin-top: 70px;
}

.newPage .newBlock .newBtn span {
    width: 217px;
    height: 44px;
    font-family: 'Vidaloka';
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    line-height: 44px;
    color: #FFFFFF;
}